<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heman.bysj.mapper.LeaveMapper">

    <!-- 插入请假单-->
    <insert id="insertIntoLeave" parameterType="com.heman.bysj.model.entity.Leave" >
        insert into `leave`(lid,nid,nTime,sTime,eTime,reason,type,tid,role)
        values (#{lid},#{nid},#{nTime},#{sTime},#{eTime},#{reason},#{type},#{tid},#{role})
    </insert>
</mapper>